# Pandas challenges

Read the `vehicles.csv` dataframe and store it in a variable called `cars`:

In [1]:
# code here
import pandas as pd
cars = pd.read_csv('vehicles.csv')

Explore the dataset:

- How many rows and columns are there?

- What are the data types of the columns?

- Are there missing values?

- What are the ranges / distributions of the numerical columns?

- What are the value counts for the categorical columns?

In [2]:
# code here
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

Drop the column "Combined MPG"

In [3]:
# code here
cars.drop(columns=['Combined MPG'])

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,255.000000,1150

Change column names so that there are no names with spaces or weird special characters:

In [4]:
# code here
cars = cars.rename(columns = {
            'Engine Displacement' : 'EngineDisplacement',
            'Vehicle Class' : 'VehicleClass',
            'Fuel Type' : 'FuelType',
            'Fuel Barrels/Year' : 'FuelBarrelsPerYear',
            'City MPG' : 'CityMPG',
            'Highway MPG' : 'HighwayMPG',
            'CO2 Emission Grams/Mile' : 'CO2EmissionGramsPerMile',
            'Fuel Cost/Year' : 'FuelCostPerYear'
})
cars

,Make,Model,Year,EngineDisplacement,Cylinders,Transmission,Drivetrain,VehicleClass,FuelType,FuelBarrelsPerYear,CityMPG,HighwayMPG,Combined MPG,CO2EmissionGramsPerMile,FuelCostPerYear
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

What brand has the most cars?

In [5]:
# code here

no_of_cars = cars.Make.value_counts().reset_index()
no_of_cars[no_of_cars.Make == no_of_cars.Make.max()]

       index  Make
0  Chevrolet  3643

What brand has the worse CO2 Emissions on average?

In [6]:
# code here
co2 = cars.groupby('Make')['CO2EmissionGramsPerMile'].mean().reset_index()
co2.columns = ['brand', 'avgco2']
co2[co2.avgco2 == co2.avgco2.max()]

      brand       avgco2
119  Vector  1049.159722

Which brands are more environment friendly?

In [7]:
# code here
co2[co2.avgco2 == co2.avgco2.min()]

     brand  avgco2
36  Fisker   169.0

Create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [19]:
# code here
# cars.Year.min()
#source to https://www.youtube.com/watch?v=cgpiFkpBLyY

# cut command creates equispaced bins but frequency of samples is unequal in each bin
# qcut command creates unequal size bins but frequency of samples is equal in each bin.

decades = [1980, 1990, 2000, 2010]
cut_bins = [1983, 1989, 1999, 2009, 2017]
cars['Decades'] = pd.cut(cars['Year'], bins = cut_bins, labels=decades)
cars.head()

,Make,Model,Year,EngineDisplacement,Cylinders,Transmission,Drivetrain,VehicleClass,FuelType,FuelBarrelsPerYear,CityMPG,HighwayMPG,Combined MPG,CO2EmissionGramsPerMile,FuelCostPerYear,Decades
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,1980
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1980
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,1980
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1980
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,1980

Did cars consume more gas in the eighties?

In [22]:
# code here
cars.groupby(['Decades'])['FuelBarrelsPerYear'].mean()

Decades
1980    18.552822
1990    18.293291
2000    17.962477
2010    15.778968
Name: FuelBarrelsPerYear, dtype: float64

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [24]:
# code here
# in the next notebook, we will learn how we can clean the "Trans" column
cars.groupby(['Transmission'])['FuelBarrelsPerYear'].mean()

Transmission
Auto (AV)                            3.375621
Auto (AV-S6)                        14.330870
Auto (AV-S8)                        15.695714
Auto(A1)                             1.563190
Auto(AM-S6)                         12.585461
Auto(AM-S7)                         16.866670
Auto(AM-S8)                          9.845101
Auto(AM-S9)                         15.695714
Auto(AM5)                            9.155833
Auto(AM6)                           14.019204
Auto(AM7)                           19.622515
Auto(AM8)                           10.347381
Auto(AV-S6)                         12.072128
Auto(AV-S7)                         11.275510
Auto(AV-S8)                         13.512989
Auto(L3)                            21.287312
Auto(L4)                            21.287312
Automatic (A1)                       3.161879
Automatic (A6)                      22.473409
Automatic (AM5)                      9.155833
Automatic (AM6)                     21.974000
Automatic (AV)                      13.459075
Automatic (AV-S6)                   13.213449
Automatic (S4)                      16.252689
Automatic (S5)                      17.195845
Automatic (S6)                      16.523272
Automatic (S7)                      17.997599
Automatic (S8)                      15.997046
Automatic (S9)                      14.362533
Automatic (variable gear ratios)    12.031110
Automatic 3-spd                     18.827020
Automatic 4-spd                     19.047387
Automatic 5-spd                     19.144976
Automatic 6-spd                     17.964236
Automatic 6spd                      12.677308
Automatic 7-spd                     17.290501
Automatic 8-spd                     17.511405
Automatic 9-spd                     14.371832
Manual 3-spd                        21.741510
Manual 4-spd                        19.749924
Manual 5 spd                        23.543571
Manual 5-spd                        16.179190
Manual 6-spd                        16.613983
Manual 7-spd                        15.915736
Manual(M7)                          20.491627
Name: FuelBarrelsPerYear, dtype: float64

Group cars by fuel type and aggregate them by the following criteria: 

- The maximum number cylinders
- The oldest year
- The average Miles Per Gallon in the city

In [26]:
# code here
cars.groupby(['FuelType'])['Cylinders'].max()

FuelType
CNG                             8.0
Diesel                         10.0
Gasoline or E85                 8.0
Gasoline or natural gas         8.0
Gasoline or propane             8.0
Midgrade                        8.0
Premium                        16.0
Premium Gas or Electricity      8.0
Premium and Electricity         8.0
Premium or E85                 12.0
Regular                        12.0
Regular Gas and Electricity     4.0
Regular Gas or Electricity      4.0
Name: Cylinders, dtype: float64

In [29]:
cars.groupby(['FuelType'])['Year'].min()

FuelType
CNG                            1993
Diesel                         1984
Gasoline or E85                2000
Gasoline or natural gas        2000
Gasoline or propane            2001
Midgrade                       2011
Premium                        1985
Premium Gas or Electricity     2011
Premium and Electricity        2014
Premium or E85                 2004
Regular                        1984
Regular Gas and Electricity    2012
Regular Gas or Electricity     2016
Name: Year, dtype: int64

In [27]:
cars.groupby(['FuelType'])['CityMPG'].mean()

FuelType
CNG                            15.966667
Diesel                         21.173436
Gasoline or E85                15.347280
Gasoline or natural gas        13.700000
Gasoline or propane            12.000000
Midgrade                       14.851351
Premium                        16.793166
Premium Gas or Electricity     30.705882
Premium and Electricity        24.900000
Premium or E85                 17.305785
Regular                        17.970195
Regular Gas and Electricity    43.125000
Regular Gas or Electricity     43.000000
Name: CityMPG, dtype: float64

We want to use "Drivetrain" in a statistical model. Convert the column to numeric.

In [33]:
# code here
cb = pd.read_csv('car_brands.csv')

Read the `car_brands.csv` data:

In [51]:
# code here
cb.head()
cb = cb.rename(columns = {'make': 'Make'})
cb

                            Make  revenue  production
0                     AM General     1537    1.002916
1               ASC Incorporated      232    1.628105
2                          Acura      234    3.394481
3                     Alfa Romeo     1174    2.313726
4    American Motors Corporation     1230    1.231024
..                           ...      ...         ...
122                   Volkswagen      273    1.033316
123                        Volvo     1312    0.057454
124        Wallace Environmental      277    5.744609
125                         Yugo      508    0.520953
126                        smart      447    2.229253

[127 rows x 3 columns]

Join the cars dataframe with the car brands dataframe.

In [48]:
# code here
cars.merge(cb, 
             how="left",
             on="Make"
            )

,Make,Model,Year,EngineDisplacement,Cylinders,Transmission,Drivetrain,VehicleClass,FuelType,FuelBarrelsPerYear,CityMPG,HighwayMPG,Combined MPG,CO2EmissionGramsPerMile,FuelCostPerYear,Decades,revenue,production
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,1980,1537,1.002916
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1980,1537,1.002916
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,1980,1537,1.002916
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1980,1537,1.002916
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,1980,232,1.628105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,2010,447,2.229253
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,2010,447,2.229253
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,2010,447,2.229253
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,2010,447,2.229253
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,2010,447,2.229253

Which brands have the most revenue?

In [50]:
# code here
cb[cb.revenue == cb.revenue.max()]

   Make  revenue  production
41  Geo     1988     1.10077